button {
    flex: 1 1 20%;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: aliceblue;
    background: rgb(51, 50, 50);
    border-radius: 20px;
    border: none;
  }
  
  button:hover {
    color: black;
    background: rgb(238, 238, 238);
  }
  button:active {
    transform: scale(0.7);
  }
  .operators {
    grid-column: 3 / 5;
    color: antiquewhite;
    background: #10aa9d;
  }
  
  .operators:hover {
      color: aliceblue;
    background: #09e4d2;
  }